.status-indicator{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.status-indicator-draft{
    background-color:$indicator-yellow;
}
.status-indicator-in-scheduling{
    background-color:$indicator-blue;
}
.do-action-button-container{
    .dropdown-toggle{
        background: transparent;

    }

    .dropdown-toggle::after{
        display: none;
    }

    .bx{
        font-size: 35px;
        line-height: 0.9;
    }

}
.freelancers-list-table{
    td{
        vertical-align: middle;
    }

}
.filter-button {
    padding: 7px;

    .bx{
        font-size: 35px;
    }

}
.tab-content > .active {
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}
.freelancers-list-tabs{
    border-bottom: 0px;
}
.freelancers-list-table{
    margin-bottom: 0px;
}
#freelancermorefilter{
    .nice-select{
        width: 100%;
    }

}
.log-rem #remember{
    margin-right: 10px;
}
.slick-prev:before, .slick-next:before{
    color:$primary-color !important;
    font-size: 25px !important;
}
.slick-dots li{
    width: 20px !important;
    height: 20px !important;
}
.slick-dots li button:before{
    font-size: 70px !important;
    content:'-' !important;
    font-weight: bold;
}
.slick-dots li.slick-active button:before{
    color: $primary-color !important;
}
