.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: #fff;
    background-color:$primary-color;

}
.tabs-counter-value {
    font-weight: bold;
}
.freelancers-list-tabs{
    
        .nav-link{
            white-space: nowrap !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
        }
        .nav-link.active{
            background-color: $primary-color !important;
            color: $white !important;
            border-color: transparent !important;
            
        }
}